<div class="page-wrapper">
    <app-topbar></app-topbar>
    <app-color-settings></app-color-settings>
    <!-- start page container -->
    <div class="page-container">
        <div class="page-content-wrapper">
            <app-navbar></app-navbar>
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- end page container -->
    <!-- start chat sidebar -->
    <app-chat></app-chat>
    <!-- end chat sidebar -->
    <!-- start footer -->
    <app-footer></app-footer>
    <!-- end footer -->
</div>